<ion-side-menus>

  <ion-pane ion-side-menu-content>
    <ion-nav-bar class="bar-stable nav-title-slide-ios7">
      <ion-nav-back-button class="button-clear"><i class="icon ion-chevron-left"></i> Back</ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left" width="350" is-enabled="true">
    <header class="bar bar-header bar-stable">
      <h1>Activities</h1>
    </header>
    <ion-content class="has-header">
      <!-- Activities -->
      <ion-list>
<!--         <ion-item nav-clear menu-close href="#/app/search">
          Search
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/browse">
          Browse
        </ion-item> -->
        <ion-item nav-clear menu-close href="#/app/activities">
          All Activities
        </ion-item>
        <ion-item class="typeWrapper" ng-repeat="type in types" ng-click="show = !show">
          <div class="typeHeading" ><span class="typeIconBg"></span><h2>{{type.name | uppercase}}</h2></div>
          <div class="activityBlock" ng-class="{'hide':!show}">
            <div ng-repeat="item in activities | filter:{type: type.name}:true">
              <span class="act-image"></span>
              <span class="act-name">{{item.name}}</span>
              <span class="act-quote">"{{item.quote}}"</span>
              <span class="act-rating"></span>
            </div>
          </div>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
