<ion-side-menus>

  <ion-pane ion-side-menu-content>
    <ion-nav-bar class="bar-stable nav-title-slide-ios7">
      <ion-nav-back-button class="button-clear"><i class="icon ion-chevron-left"></i> Back</ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left">
    <header class="bar bar-header bar-stable">
      <div class="button-bar">
        <a class="button" ng-click="showLocations()">Locations</a>
        <a class="button" ng-click="showTypes()">Activities</a>
      </div>
    </header>
    <ion-content class="has-header">
      <!-- Activities -->
      <ion-list>
        <ion-item nav-clear menu-close href="#/app/search">
          Search
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/browse">
          Browse
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/activities">
          All Activities
        </ion-item>
        <ion-item ng-show="locationsActive" ng-repeat="location in locations">
            {{location.name}}
        </ion-item>
        <ion-item ng-show="typesActive" ng-repeat="type in types">
          {{type.name}}
        </ion-item>
      </ion-list>

      <!-- Locations -->
<!--       <ion-list>

      </ion-list> -->
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
