<ion-view title="navTitle" hide-back-button="true" left-buttons="leftButtons" right-buttons="rightButtons" hide-back-button="true">
    <ion-content has-header="true" padding="true">

    <div class="google-map span7"
         center="map.center"
         zoom="map.zoom"
         draggable="true"
         dragging="map.dragging"
         bounds="map.bounds"
         events="map.events"
         options="map.options"
         pan="true"
         control="map.control">
            <markers models="map.markers" coords="'self'" icon="'icon'" click="'onClicked'"></markers>
    </div>
    <pre>
      {{ map }}
    </pre>
    </ion-content>
</ion-view>
