<view title="navTitle" hide-back-button="true" left-buttons="leftButtons" right-buttons="rightButtons" hide-back-button="true">
    <content has-header="true" padding="true">

    <google-map
        center='map.center'
        zoom='map.zoom'
         dragging="map.dragging"
         bounds="map.bounds"
         events="map.events"
         options="map.options"
         pan="true"
         control="map.control">
        <markers models="map.markers" coords="'self'" icon="'icon'" click="'onClicked'"></markers>
    </google-map>
    <pre>
      {{ map | json }}
    </pre>
    </content>
</view>
